<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>相簿</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">首頁</a></li>
                <li><a href="{{ url_for('announcements') }}">最新公告</a></li>
                <li><a href="{{ url_for('album') }}">相簿</a></li>
                <li><a href="{{ url_for('account') }}">帳號管理</a></li>
                <li><a href="{{ url_for('login') }}">登入</a></li>
                <li><a href="{{ url_for('register') }}">註冊</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>相簿</h1>
        <form method="post" action="{{ url_for('upload_photo') }}" enctype="multipart/form-data">
            <input type="file" name="photo">
            <input type="submit" value="上傳">
        </form>
        <div class="gallery">
            {% for photo in photos %}
            <div class="photo">
                <img src="{{ url_for('static', filename='uploads/' ~ photo) }}" alt="Photo">
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        &copy; 2024 6 Web
    </footer>
</body>
</html>
